body {
	background: url(pexels-jessica-lewis-creative-1200436.jpg) fixed top center no-repeat rgba(245, 245, 245, 0.5);
}
#feed {
	margin: auto;
	padding: 5px 10px;
	width: 900px;
	background: #FFF;
}
#border {
	margin: 0 auto;
	padding: 5px;
	width: 919px;
	border: 10px double white;
}
h1 {
	text-align: center;
	color: white;
}
p {
	font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
	font-size: 0.9em;
}
#message_form {
	width: 100%;
}
#message_field, #message_submit {
	font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
	border-radius: 6px;
	border: none;
	box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
}
#message_field {
	width: 890px;
	margin-bottom: 10px;
	padding: 10px 5px;
	display: inline-block;
	vertical-align: top;
	color: #3D3D3D;
	background: #fff;
}
#message_field:focus {
	border: none;
	box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
	outline: 0;
}
#message_submit {
	display: inline-block;
	vertical-align: top;
	padding: 3px 14px 3px 14px;
	-webkit-user-select: none;
	user-select: none;
	color: #3D3D3D;
	background: #fff;
	touch-action: manipulation;
	/* transition: background 0.5s ease-out; */
}
#message_submit:hover {
	background: rgba(58, 108, 217, 0.2);
}
#message_submit:focus {
	box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
	outline: 0;
}
.fd_date {
	font-style: italic;
	font-size: 0.7em;
}
.fd_text {
	margin-bottom: 2em;
	margin-top: 0.1em;
}
.fd_text a {
	color: #3D3D3D;
	font-size: 0.7em;
	padding-top: 0.1em;
}
.fd_text a:hover {
	color: rgba(58, 108, 217, 0.7);
}
h2 {
	color: white;
	background: url(pexels-jessica-lewis-creative-1200436.jpg) fixed top center no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display: block;
}